<!--Header-->
<div class="top-logo">
    <img src="/files/logo.jpeg"></img>
</div>
<!--Navigation Bar-->
<ul>
    <li><a class="#" href="/home">Home</a></li>
    <li><a href="#">Parking</a></li>
    <li><a href="/service">Service</a></li>
    <li><a href="/pollution">Pollution</a></li>
</ul>
