<!DOCTYPE html>
<html lang="en">
<head><title> Car Solutions</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width">
    <!-- <meta name="description" content="Official alumni website of ADGITM, formerly NIEC. ESTEEMED ALUMNI. Aashmeet. Uber USA. Noopur Arora. IBM. Sourabh J. Amazon. Pranjal Jumde. StackRox, US-CA. Rohit Sikka. Google ..."/>
     <link rel="icon" href="#" type="image/png" sizes="16x16">
     <title>Car Solutions</title>  -->

    <!--Bootstrap 4 JQUERY AND FONTAWESOME Used-->
    <link href="/Bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <script src="/Bootstrap/dist/js/jquery-3.2.1.js"></script>
    <script src="/Bootstrap/dist/js/bootstrap.js"></script>
    <link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="screen" href="/css/header.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/login.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/service.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/pollution.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/home.css" />

    <!--    <link href="/css/header.css" rel="stylesheet">
     -->    <!--Stylesheets created

     <link href="/css/socialpage.css" rel="stylesheet">
     <link href="/css/footermap.css" rel="stylesheet">
     <link href="/css/alumni_body_homepage.css" rel="stylesheet">
     <link rel="stylesheet" href="/css/updateinfo.css">
     <link rel="stylesheet" href="/css/profile_page/profile_checkpage_css.css">
     <link href="/css/homepage_gallery_setts.css" rel="stylesheet">
     <link href="/css/notable_alumni_homepage.css" rel="stylesheet">
     -->

    <!--Script for Profile Page
    <script src="/js_frontend/header_frontend.js"></script>
    <script src="/js_frontend/profile_checkoutpage.js"></script>
    -->


</head>
<body style="overflow-x: hidden;width: 100%">
{{> _header}}
{{{body}}}

{{> _footer}}


</body>
</html>
<script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>
<script>
    function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        console.log("Location Not Found");
    }
}

function showPosition(position) {
    const loc = {
        lat : position.coords.latitude,
        long : position.coords.longitude
    }
}
getLocation();
$.post('/location', { location: loc })
</script>
