<form action="/addpollution" method="POST">
    <div class="date">
    Date:<br>
    <input type="text" name="date">
</div>
<div class="kms">
    Kilometers Driven:<br>
    <input type="text" name="KMS">
</div>
<button class="button">Add</button>
</form>
    <table>
    <tr>
        <th>Date</th>
        <th>Km Driven</th>
    </tr>
    <tr>

        <th>{{date}}</th>
        <th>{{km}}</th>
    </tr>
</table>