/* Navigation Bar*/
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #20285E;
}

li {
    text-align: center;
    float: left;
}

li a {
    display: block;
    color: #9fa8da;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.top-logo{
    background-color: black;
}

